header {
    background-color:aqua;
    color:red;
}

body {
    background-color: aqua;
    color:blueviolet;
}

h1 {
    color:aqua;
}

p {
    color:chartreuse;
}

h2 {
    color:blueviolet;
}

.listas {
    color:mediumvioletred;
}

footer {
    background-color:cyan;
    color:dodgerblue;
}
